* {
  text-align: justify;
  font-family: "Verdana", sans-serif;
}

h1 {
  color: blue;
  background-color: bisque;
}

.list-index {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.list-item {
  height: 250px;
  flex: 1 1 30%;
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  font-size: 18px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: auto;
}

.index-image {
  height: 70%;
  width: auto;
}

.align-center {
  text-align: center;
}

.list {
  background-color: beige;
  border: 1px solid blue;
}

.sub-div {
  background-color: blanchedalmond;
}

.source {
  background-color: chocolate;
}

.happy {
  text-align: center;
}

.note {
  color: red;
}